Dockerfile
justfile

ALttPRandomizer/appsettings.json
ALttPRandomizer/appsettings.Development.json
ALttPRandomizer/[Oo]bj
ALttPRandomizer/[Bb]in

*/__pycache__
*/.github
*/DR_*
*/ER_*
*/OR_*
*/GK_*
*.sfc
*_Spoiler.txt

!alttp.sfc

# */data/base2current.json
