scripts/

ALttPRandomizer/appsettings.json
ALttPRandomizer/appsettings.Development.json
ALttPRandomizer/[Oo]bj
ALttPRandomizer/[Bb]in

*/__pycache__
*/.github
*/_vendor
*/DR_*
*/ER_*
*/OR_*
*/data/base2current.json
