scripts/

ALttPRandomizer/appsettings.json
ALttPRandomizer/appsettings.Development.json
ALttPRandomizer/[Oo]bj
ALttPRandomizer/[Bb]in

*/__pycache__
*/.github
*/DR_*
*/ER_*
*/OR_*
BaseRandomizer/data/base2current.json
