[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0305: Simplify collection initialization
dotnet_style_prefer_collection_expression = never

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false
