[submodule "ALttPDoorRandomizer"]
	path = ALttPDoorRandomizer
	url = https://github.com/ardnaxelarak/ALttPDoorRandomizer
[submodule "BaseRandomizer"]
	path = BaseRandomizer
	url = https://github.com/ardnaxelarak/ALttPDoorRandomizer
[submodule "Apr2025Randomizer"]
	path = Apr2025Randomizer
	url = https://github.com/ardnaxelarak/ALttPDoorRandomizer
[submodule "DungeonMapRandomizer"]
	path = DungeonMapRandomizer
	url = git@github.com:ardnaxelarak/ALttPDoorRandomizer
