[submodule "BaseRandomizer"]
	path = BaseRandomizer
	url = https://git.gwaa.kiwi/alttpr-gwaa-kiwi/alttpr-python
	branch = GwaaKiwi
[submodule "Apr2025Randomizer"]
	path = Apr2025Randomizer
	url = https://git.gwaa.kiwi/alttpr-gwaa-kiwi/alttpr-python
	branch = apr_2025
[submodule "BetaRandomizer"]
	path = BetaRandomizer
	url = https://git.gwaa.kiwi/alttpr-gwaa-kiwi/alttpr-python
	branch = DungeonMap
